@charset "utf-8" ;

 *{
    font-family: Arial, Helvetica, sans-serif;
}

 header {
	background-color: rgb(43, 43, 119);
	text-align:center;
    color: white;
 }

 footer {
  background-color: rgb(55, 28, 152);
  color: white;    
  text-align: center;   
  }

 nav {
    align-items: center;
    background-color: #05469b;
    border-bottom: 4px solid #f4e805;
}

 nav .auteurs {
    font-weight: bold;
    }
