.liste-personnel {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.liste-personnel figure {
   width: 12vw;
   min-width: 12em;
}

.liste-personnel figure figcaption {
   text-align: center;
}

.liste-personnel figure img {
   width: 100%;
   border-radius: 20px;
   background-color: white;
}

h2 {
   text-align: center;
}

aside {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

form {
   background-color: #12112b;
   color: white;
   margin: 1rem;
   padding: 1rem;
   border-radius: 10px;
   display: flex;
   min-height: 20rem;
}

fieldset {
   flex-grow: 1;
   border-radius: 10px;
}

fieldset legend {
   font-size: 1.5rem;
   font-weight: bold;
   padding-left: 1rem;
   padding-right: 1rem;
   /* border-left: 2px white solid;
   border-right: 2px white solid; */
}

form fieldset {
   margin: 0.5rem;
}

input, select {
   padding: 0.5rem;
   margin: 0.5rem;
   border: 2px black solid;
   border-radius: 10px;
}