html {
        scroll-behavior: smooth;

}
body {
    margin: 0;
    padding: 0;
}

.bg-header {
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    

}

header {
    background: linear-gradient(0deg,rgba(255, 255, 255, 0) 49%, rgba(0, 0, 0, 1) 100%);
    height: 100vh;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 10rem;
}

header h2 {
    font-size: 3rem;
}

header button {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

section {
    margin-top: 2rem;
    height: 100vh;
}