body {
    margin: 0;
    padding: 0;
}

header {
    /* background-image: url("https://eoimages.gsfc.nasa.gov/images/imagerecords/36000/36019/AS8-16-2593_lrg.jpg") !important; */
    background-position: center center;
    height: 90vh;
    margin: 0;
    padding: 0;
}

header h1 {
    margin-top: 0;
    padding-top: 0;
}